form {
    background-color: rgb(31, 31, 31, 0.9);
    padding: 1rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    width: 20%;
    overflow-y: auto;
    border-radius: 15px;
    border: 1px solid white;
    min-width: 280px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    translate: calc();
    z-index: 99;
  }
  
  form.visible {
    display: flex;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.3rem;
    width: 250px;
    
  }

  .input-box.flex-row {
     flex-direction: row;
     justify-content: space-around;
  }
  
  .container-botones {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  
  .input-box select {
    background-color: #363062;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    color: white;
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 80%;
    overflow: auto;
    outline: none;
    height: 2rem;
  }
  
  .input-box select option {
    color: white;
    background-color: #363062;
    font-size: 1rem;
    width: 50%;
  }
  
  #imagenes,
  #columnas,
  #columnasVideos,
  .input-box input {
    box-sizing: border-box;
    height: 2rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #363062;
    width: 100%;
  }

  
  
  #columnas{
    width: 50px;

  }

  #columnasVideos {
    width: 50px;
  }

  .opciones-columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 5px;
    right: 40px;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  #imagenes {
    width: 60px;
    
  }

  #paginacion {
    width: 60px;
    color: white;
  }
  
  #colorPicker {
     height: 50px;
     width: 50px; 
     position: absolute;
     top: 10px;
     right: 10px;
  }
  
  form button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #05b175;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 1rem;
  }
  
  
  form #fileInput {
    /* height: 1.4%; */
    
    margin: 0;
    padding: 0;
  }
  
  #fileInputI{
    margin: 0;
    padding: 0;
    height: 1.4%;
    width: 50%;
  }
  
  #btnSalir {
    background-color: #dcdbdd;
    color: #1f1f1f;
  }
  
  .input-box label p {
    color: white;
  
    font-size: 1rem;
  }
  


  @media (max-width:720px){
    .input-box {
      width: 150px !important;
      margin: 0;
    }

    #fileInputI{
      margin: 0;
      padding: 0;
      height: 1.4%;
      width: 100px;
      
    }

    .opciones-columnas {
      font-size: 13px;
      top: 5px;
      right: 0;
    }



  }